---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Septiembre 2021 - Abril 2024",
    title: "Desarrollador, Home Capital",
    description:
      "Development of several applications for process automation, including lambdas, scrapers, AI, file standardization, polygon mapping (Python), AWS Cloud Management, Data science, Management of the company´s databases.",
  },
  {
    date: "Agosto 2020 - Septiembre 2021",
    title: "Desarrollador, Printex SAS",
    description:
      "Client and server development} for production management and quality control. (Python), Management of the company's databases. (MySQL) Development of applications for the internal use of different areas. (Python), Development of application for reporting mechanical failures in the production lines. (Python)",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
