---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Septiembre 2021 - Abril 2024",
    title: "Desarrollador, Home Capital",
    description:
      "Desarrollo de varias aplicaciones para la automatización de procesos, incluyendo lambdas, scrapers, AI, estandarización de archivos, mapeo de polígonos (Python), Gestión de la nube AWS, Ciencia de datos, Gestión de las bases de datos de la empresa.",
  },
  {
    date: "Agosto 2020 - Septiembre 2021",
    title: "Desarrollador, Printex SAS",
    description:
      "Desarrollo de cliente y servidor para la gestión de la producción y el control de calidad. (Python), Gestión de las bases de datos de la empresa. (MySQL) Desarrollo de aplicaciones para uso interno de diferentes áreas. (Python), Desarrollo de aplicación para reporte de fallas mecánicas en las líneas de producción. (Python)",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
